---
import {Image} from "astro:assets";
import { storyblokEditable } from '@storyblok/astro'
import { richTextResolver } from '@storyblok/richtext';

const { blok } = Astro.props

const { render } = richTextResolver();
---

<div {...storyblokEditable(blok)}>
    <h2>{blok.headline}</h2>
    <p set:html={render(blok.description)} />

    {blok.social_links.map((link) => (
        <div>
            <img src={link.icon.filename} alt="" width={24} height={24} />
            <p>{link.label}</p>
        </div>
    ))}
</div>
