---
import {Image} from "astro:assets"
import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
    <h3>
        {blok.title}
    </h3>

    <div>
        {blok.links.map((link) => (
                <a href={`#${link.label.toLowerCase()}`}>{link.label}</a>
        ))}
    </div>

    <Image src={blok.icon.filename}
           alt=""
           width={24}
           height={24}
           format="svg"
    />
</div>
